<div class="modal-container d-none" data-modal="reset">
  <div class="modal-overlay closeModalTrigger"></div>

  <div class="modal-wrapper modal-reset">
    <div class="modal-window-wrap">
      <div class="modal-window-header">
        <h4 class="modal-window-title text_regular text__color_dark-grey">
          Reset demo account
        </h4>
      </div>
      <div class="modal-window-content">
        <p class="text_regular text__color_dark-grey mb-3">
          Do you want to reset demo account and delete all data from demo
          account database?
        </p>
        <p class="text_regular text__color_dark-grey">
          Please, setup initiation balance for new demo account:
        </p>
        <div class="reset-line-wrap">
          <p class="text_regular">New initiation balance</p>
          <div class="data-info-container data-info-container_medium">
            <div
              class="input-container-wrap input-container-wrap_normal"
              data-input="input-field">
              <div class="input-wrapp">
                <input
                  class="input-field text_large text__color_dark-grey"
                  type="text"
                  data-type="number"
                  data-unit="$" />
              </div>
              <div class="input-text-center">
                <div class="data-wrap" data-type="dynamic" data-state="ture">
                  <p class="text_large text__color_dark-grey">10000</p>
                  <p class="text_small text__color_dark-grey">$</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-window-button">
        <button
          class="button-modal button-modal-left text_small text__color_dark-grey">
          Yes
        </button>
        <button
          class="button-modal button-modal-right text_small text__color_dark-grey closeModalTrigger">
          No
        </button>
      </div>
    </div>
  </div>
</div>
