<div class="modal-wrapper modal-demo d-none">
  <div class="modal-window-wrap">
    <div class="modal-window-header modal-drag-drop">
      <h4 class="modal-window-title text_regular text__color_dark-grey">
        Demo account
      </h4>
      <img
        class="modal-window-close-icon"
        src="./img/close.svg"
        alt="close-cross" />
    </div>
    <div class="modal-window-content">
      <div class="demo-line-wrap">
        <p class="text_regular">Initiation balance</p>
        <div class="data-info-container data-info-container_medium">
          <div
            class="input-container-wrap input-container-wrap_normal"
            data-input="input-field">
            <div class="input-wrapp hidden">
              <input
                class="input-field text_large text__color_dark-grey"
                type="text" />
            </div>
            <div class="input-text-center input-border input-disabled">
              <div class="data-wrap" data-type="dynamic" data-state="ture">
                <p class="text_large text__color_grey">10000</p>
                <p class="text_small text__color_grey">$</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="demo-line-wrap">
        <p class="text_regular">Initiation date</p>
        <div class="data-info-container data-info-container_medium">
          <div
            class="input-container-wrap input-container-wrap_normal"
            data-input="input-field">
            <div class="input-wrapp hidden">
              <input
                class="input-field text_large text__color_dark-grey"
                type="text" />
            </div>
            <div class="input-text-center input-border input-disabled">
              <div class="data-wrap" data-type="dynamic" data-state="ture">
                <p class="text_large text__color_grey">27.03.2024</p>
                <p class="text_small text__color_grey"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="demo-line-wrap">
        <p class="text_regular">Current amount</p>
        <div class="data-info-container data-info-container_medium">
          <div
            class="input-container-wrap input-container-wrap_normal"
            data-input="input-field">
            <div class="input-wrapp hidden">
              <input
                class="input-field text_large text__color_dark-grey"
                type="text" />
            </div>
            <div class="input-text-center input-border input-disabled">
              <div class="data-wrap" data-type="dynamic" data-state="ture">
                <p class="text_large text__color_grey">14837</p>
                <p class="text_small text__color_grey">$</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-window-button">
      <button
        class="button-modal button-modal-left text_small text__color_dark-grey">
        Reset
      </button>
      <button
        class="button-modal button-modal-right text_small text__color_dark-grey">
        Close
      </button>
    </div>
  </div>
</div>
