.modal-tag-master {
  width: 305px;
  height: auto;

  &__grid {
    display: grid;
    gap: 8px;
    padding: 16px 24px;
  }

  &__subgrid {
    display: grid;
    gap: 8px;
  }

  &__row {
    display: grid;
    grid-template-columns: auto 26px;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}
