<div
  class="modal-wrapper modal-key-performance modal-draggable d-none"
  data-modal="key-performance">
  <div class="modal-window-wrap">
    <div class="modal-window-header modal-drag-drop">
      <h4 class="modal-window-title text_regular text__color_dark-grey">
        Key Performance Indicators
      </h4>
      <img
        class="modal-window-close-icon closeModalTrigger"
        src="../../../style_guide_2/img/close.svg"
        alt="close-cross" />
    </div>

    <div class="modal-window-content grid grid-key-performance">
      <div class="modal-key-performance__subgrid selectorWrap">
        <div
          class="text text_small text__color_dark-grey modal-key-performance__label">
          Daily KPI
        </div>

        <div class="selector-wrapper">
          <div
            data-type="dynamic"
            data-state="ture"
            class="selector selector_regular">
            <div class="selector__header selector-arrow">
              <div class="text-wrapp">
                <p class="selector__inner-text text_regular">Balance %</p>
              </div>
            </div>

            <div class="selector__dropdown">
              <ul>
                <li class="padding-contaier_xsmall">
                  <p class="selector__dropdown-text text_regular">Disable</p>
                </li>
                <li class="padding-contaier_xsmall">
                  <p class="selector__dropdown-text text_regular">Balance $</p>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div
          class="data-info-container data-info-container_medium grid-col-input-2">
          <div
            class="input-container-wrap input-container-wrap_tiny left"
            data-input="input-field">
            <div class="input-wrapp input-wrapp_left">
              <input
                class="input-field input-field_left text_large text__color_dark-grey selectorDisableTarget"
                type="text"
                data-type="number"
                data-unit="%" />
            </div>
            <div class="input-text-center">
              <div class="data-wrap" data-type="dynamic" data-state="ture">
                <p class="text_large text__color_dark-grey">2.5</p>
                <p class="text_small text__color_dark-grey">%</p>
              </div>
            </div>
          </div>
          <div
            class="input-container-wrap input-container-wrap_tiny right"
            data-input="input-field">
            <div class="input-wrapp input-wrapp_right hidden">
              <input
                class="input-field input-field_right text_large text__color_dark-grey"
                type="text"
                data-type="number"
                data-unit="$" />
            </div>
            <div class="input-text-center right-small input-disabled">
              <div class="data-wrap" data-type="dynamic" data-state="ture">
                <p class="text_large text__color_ligth-grey">150</p>
                <p class="text_small text__color_ligth-grey">$</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-key-performance__subgrid selectorWrap">
        <div
          class="text text_small text__color_dark-grey modal-key-performance__label">
          Weekly KPI
        </div>

        <div class="selector-wrapper">
          <div
            data-type="dynamic"
            data-state="ture"
            class="selector selector_regular">
            <div class="selector__header selector-arrow">
              <div class="text-wrapp">
                <p class="selector__inner-text text_regular">Balance $</p>
              </div>
            </div>

            <div class="selector__dropdown">
              <ul>
                <li class="padding-contaier_xsmall">
                  <p class="selector__dropdown-text text_regular">Disable</p>
                </li>
                <li class="padding-contaier_xsmall">
                  <p class="selector__dropdown-text text_regular">Balance %</p>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div
          class="data-info-container data-info-container_medium grid-col-input-2">
          <div
            class="input-container-wrap input-container-wrap_tiny left"
            data-input="input-field">
            <div class="input-wrapp input-wrapp_left">
              <input
                class="input-field input-field_left text_large text__color_dark-grey selectorDisableTarget"
                type="text"
                data-type="number"
                data-unit="$" />
            </div>
            <div class="input-text-center">
              <div class="data-wrap" data-type="dynamic" data-state="ture">
                <p class="text_large text__color_dark-grey">50000</p>
                <p class="text_small text__color_dark-grey">$</p>
              </div>
            </div>
          </div>
          <div
            class="input-container-wrap input-container-wrap_tiny right"
            data-input="input-field">
            <div class="input-wrapp input-wrapp_right hidden">
              <input
                class="input-field input-field_right text_large text__color_dark-grey"
                type="text"
                data-type="number"
                data-unit="%" />
            </div>
            <div class="input-text-center right-small input-disabled">
              <div class="data-wrap" data-type="dynamic" data-state="ture">
                <p class="text_large text__color_ligth-grey">15.0</p>
                <p class="text_small text__color_ligth-grey">%</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-key-performance__subgrid selectorWrap">
        <div
          class="text text_small text__color_dark-grey modal-key-performance__label">
          Monthly KPI
        </div>

        <div class="selector-wrapper">
          <div
            data-type="dynamic"
            data-state="ture"
            class="selector selector_regular">
            <div class="selector__header selector-arrow">
              <div class="text-wrapp">
                <p class="selector__inner-text text_regular">Disable</p>
              </div>
            </div>

            <div class="selector__dropdown">
              <ul>
                <li class="padding-contaier_xsmall">
                  <p class="selector__dropdown-text text_regular">Balance $</p>
                </li>
                <li class="padding-contaier_xsmall">
                  <p class="selector__dropdown-text text_regular">Balance %</p>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div
          class="data-info-container data-info-container_medium grid-col-input-2">
          <div
            class="input-container-wrap input-container-wrap_tiny left"
            data-input="input-field">
            <div class="input-wrapp input-wrapp_left">
              <input
                class="input-field input-field_left text_large text__color_dark-grey hidden selectorDisableTarget"
                type="text"
                data-type="number"
                data-unit="$" />
            </div>
            <div class="input-text-center">
              <div class="data-wrap" data-type="dynamic" data-state="false">
                <p
                  class="text_large text__color_dark-grey text__color_ligth-grey">
                  -
                </p>
                <p
                  class="text_small text__color_dark-grey text__color_ligth-grey"></p>
              </div>
            </div>
          </div>
          <div
            class="input-container-wrap input-container-wrap_tiny right"
            data-input="input-field">
            <div class="input-wrapp input-wrapp_right hidden">
              <input
                class="input-field input-field_right text_large text__color_dark-grey"
                type="text"
                data-type="number"
                data-unit="$" />
            </div>
            <div class="input-text-center right-small input-disabled">
              <div class="data-wrap" data-type="dynamic" data-state="ture">
                <p class="text_large text__color_ligth-grey">-</p>
                <p class="text_small text__color_ligth-grey"></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-key-performance__delimiter"></div>

      <div class="modal-key-performance__subgrid selectorWrap">
        <div
          class="text text_small text__color_dark-grey modal-key-performance__label">
          Daily KPI | Demo account
        </div>

        <div class="selector-wrapper">
          <div
            data-type="dynamic"
            data-state="ture"
            class="selector selector_regular">
            <div class="selector__header selector-arrow">
              <div class="text-wrapp">
                <p class="selector__inner-text text_regular">Balance %</p>
              </div>
            </div>

            <div class="selector__dropdown">
              <ul>
                <li class="padding-contaier_xsmall">
                  <p class="selector__dropdown-text text_regular">Disable</p>
                </li>
                <li class="padding-contaier_xsmall">
                  <p class="selector__dropdown-text text_regular">Balance $</p>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div
          class="data-info-container data-info-container_medium grid-col-input-2">
          <div
            class="input-container-wrap input-container-wrap_tiny left"
            data-input="input-field">
            <div class="input-wrapp input-wrapp_left">
              <input
                class="input-field input-field_left text_large text__color_dark-grey selectorDisableTarget"
                type="text"
                data-type="number"
                data-unit="%" />
            </div>
            <div class="input-text-center">
              <div class="data-wrap" data-type="dynamic" data-state="ture">
                <p class="text_large text__color_dark-grey">2.5</p>
                <p class="text_small text__color_dark-grey">%</p>
              </div>
            </div>
          </div>
          <div
            class="input-container-wrap input-container-wrap_tiny right"
            data-input="input-field">
            <div class="input-wrapp input-wrapp_right hidden">
              <input
                class="input-field input-field_right text_large text__color_dark-grey"
                type="text"
                data-type="number"
                data-unit="$" />
            </div>
            <div class="input-text-center right-small input-disabled">
              <div class="data-wrap" data-type="dynamic" data-state="ture">
                <p class="text_large text__color_ligth-grey">150</p>
                <p class="text_small text__color_ligth-grey">$</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-key-performance__subgrid selectorWrap">
        <div
          class="text text_small text__color_dark-grey modal-key-performance__label">
          Weekly KPI | Demo account
        </div>

        <div class="selector-wrapper">
          <div
            data-type="dynamic"
            data-state="ture"
            class="selector selector_regular">
            <div class="selector__header selector-arrow">
              <div class="text-wrapp">
                <p class="selector__inner-text text_regular">Balance $</p>
              </div>
            </div>

            <div class="selector__dropdown">
              <ul>
                <li class="padding-contaier_xsmall">
                  <p class="selector__dropdown-text text_regular">Disable</p>
                </li>
                <li class="padding-contaier_xsmall">
                  <p class="selector__dropdown-text text_regular">Balance %</p>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div
          class="data-info-container data-info-container_medium grid-col-input-2">
          <div
            class="input-container-wrap input-container-wrap_tiny left"
            data-input="input-field">
            <div class="input-wrapp input-wrapp_left">
              <input
                class="input-field input-field_left text_large text__color_dark-grey selectorDisableTarget"
                type="text"
                data-type="number"
                data-unit="$" />
            </div>
            <div class="input-text-center">
              <div class="data-wrap" data-type="dynamic" data-state="ture">
                <p class="text_large text__color_dark-grey">50000</p>
                <p class="text_small text__color_dark-grey">$</p>
              </div>
            </div>
          </div>
          <div
            class="input-container-wrap input-container-wrap_tiny right"
            data-input="input-field">
            <div class="input-wrapp input-wrapp_right hidden">
              <input
                class="input-field input-field_right text_large text__color_dark-grey"
                type="text"
                data-type="number"
                data-unit="%" />
            </div>
            <div class="input-text-center right-small input-disabled">
              <div class="data-wrap" data-type="dynamic" data-state="ture">
                <p class="text_large text__color_ligth-grey">15.0</p>
                <p class="text_small text__color_ligth-grey">%</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-key-performance__subgrid selectorWrap">
        <div
          class="text text_small text__color_dark-grey modal-key-performance__label">
          Monthly KPI | Demo account
        </div>

        <div class="selector-wrapper">
          <div
            data-type="dynamic"
            data-state="ture"
            class="selector selector_regular">
            <div class="selector__header selector-arrow">
              <div class="text-wrapp">
                <p class="selector__inner-text text_regular">Disable</p>
              </div>
            </div>

            <div class="selector__dropdown">
              <ul>
                <li class="padding-contaier_xsmall">
                  <p class="selector__dropdown-text text_regular">Balance $</p>
                </li>
                <li class="padding-contaier_xsmall">
                  <p class="selector__dropdown-text text_regular">Balance %</p>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div
          class="data-info-container data-info-container_medium grid-col-input-2">
          <div
            class="input-container-wrap input-container-wrap_tiny left"
            data-input="input-field">
            <div class="input-wrapp input-wrapp_left">
              <input
                class="input-field input-field_left text_large text__color_dark-grey hidden selectorDisableTarget"
                type="text"
                data-type="number"
                data-unit="$" />
            </div>
            <div class="input-text-center">
              <div class="data-wrap" data-type="dynamic" data-state="false">
                <p
                  class="text_large text__color_dark-grey text__color_ligth-grey">
                  -
                </p>
                <p
                  class="text_small text__color_dark-grey text__color_ligth-grey"></p>
              </div>
            </div>
          </div>
          <div
            class="input-container-wrap input-container-wrap_tiny right"
            data-input="input-field">
            <div class="input-wrapp input-wrapp_right hidden">
              <input
                class="input-field input-field_right text_large text__color_dark-grey"
                type="text"
                data-type="number"
                data-unit="$" />
            </div>
            <div class="input-text-center right-small input-disabled">
              <div class="data-wrap" data-type="dynamic" data-state="ture">
                <p class="text_large text__color_ligth-grey">-</p>
                <p class="text_small text__color_ligth-grey"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-window-button closeModalTrigger">
      <button class="button-modal button-one text_small text__color_dark-grey">
        Save
      </button>
    </div>
  </div>
</div>
