.modal-terminal {
  width: 800px;
  height: 500px;
}

.terminal-content {
  height: 100%;
  background: #eaf2f5;
  position: relative;
  .button-non-press {
    position: absolute;
    bottom: 3px;
    right: 3px;
  }

  .modal-window-content {
    height: 100%;
    display: block;
    align-items: unset;
    overflow-y: auto;
    scrollbar-width: none;
  }
}
