<div
  class="modal-wrapper modal-terminal modal-draggable d-none"
  data-modal="terminal">
  <div class="modal-window-wrap terminal-content">
    <div class="modal-window-header modal-drag-drop">
      <h4 class="modal-window-title text_regular text__color_dark-grey">
        Terminal
      </h4>
      <img
        class="modal-window-close-icon closeModalTrigger"
        src="../../../img/close.svg"
        alt="close-cross" />
    </div>
    <div class="modal-window-content">
      <pre>
        <code class="text_regular text__color_dark-grey">
Time           Type           Name         Status                Log 
17:15:30   Limiter#16836   Stop Loss       Change       ticks[150] -> ticks[250]
17:15:30   Limiter#16836   Stop Loss       Change       ticks[150] -> ticks[250]
17:15:30   Limiter#16836   Stop Loss       Change       ticks[150] -> ticks[250]
17:15:30   Limiter#16836   Stop Loss       Change       ticks[150] -> ticks[250]
17:15:30   Limiter#16836   Stop Loss       Change       ticks[150] -> ticks[250]               
        </code>
        </pre>

      <button
        class="button-non-press button-non-press_save-small text_regular btn-non-style">
        Clean
      </button>
    </div>
  </div>
</div>
