
<div class="modal-wrapper modal-schedule">
    <div class="modal-window-wrap schedule-wrap">
        <div class="modal-window-header modal-drag-drop">
            <h4 class="modal-window-title text_regular text__color_dark-grey">
                Schedule
            </h4>
            <img
              class="modal-window-close-icon"
              src="../../../style_guide_2/img/close.svg"
              alt="close-cross"
            />
        </div>

        <div class="modal-window-content grid-schedule-content">
            <div class="schedule-column">
                <p class="text_large text__color_grey">SUN</p>
                <div class="time-block">
                    <button class="text_large btn-schedule">00:00</button>
                    <button class="text_large btn-schedule">01:00</button>
                    <button class="text_large btn-schedule">02:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">03:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">04:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">05:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">06:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">07:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">08:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">09:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">10:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">11:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">12:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">13:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">14:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">15:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">16:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">17:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">18:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">19:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">20:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">21:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">22:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">23:00</button>
                </div>   
            </div>
            <div class="schedule-column">
                <p class="text_large text__color_grey">MON</p>
                <div class="time-block">
                    <button class="text_large btn-schedule">00:00</button>
                    <button class="text_large btn-schedule">01:00</button>
                    <button class="text_large btn-schedule">02:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">03:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">04:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">05:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">06:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">07:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">08:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">09:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">10:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">11:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">12:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">13:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">14:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">15:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">16:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">17:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">18:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">19:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">20:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">21:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">22:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">23:00</button>
                </div>    
            </div>
            <div class="schedule-column">
                <p class="text_large text__color_grey">TUE</p>
                <div class="time-block">
                    <button class="text_large btn-schedule">00:00</button>
                    <button class="text_large btn-schedule">01:00</button>
                    <button class="text_large btn-schedule">02:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">03:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">04:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">05:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">06:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">07:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">08:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">09:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">10:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">11:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">12:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">13:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">14:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">15:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">16:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">17:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">18:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">19:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">20:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">21:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">22:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">23:00</button>
                </div>    
            </div>
            <div class="schedule-column">
                <p class="text_large text__color_grey">WED</p>
                <div class="time-block">
                    <button class="text_large btn-schedule">00:00</button>
                    <button class="text_large btn-schedule">01:00</button>
                    <button class="text_large btn-schedule">02:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">03:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">04:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">05:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">06:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">07:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">08:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">09:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">10:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">11:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">12:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">13:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">14:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">15:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">16:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">17:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">18:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">19:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">20:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">21:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">22:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">23:00</button>
                </div>   
            </div>
            <div class="schedule-column">
                <p class="text_large text__color_grey">TRU</p>
                <div class="time-block">
                    <button class="text_large btn-schedule">00:00</button>
                    <button class="text_large btn-schedule">01:00</button>
                    <button class="text_large btn-schedule">02:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">03:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">04:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">05:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">06:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">07:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">08:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">09:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">10:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">11:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">12:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">13:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">14:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">15:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">16:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">17:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">18:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">19:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">20:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">21:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">22:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">23:00</button>
                </div>  
            </div>
            <div class="schedule-column">
                <p class="text_large text__color_grey">FRI</p>
                <div class="time-block">
                    <button class="text_large btn-schedule">00:00</button>
                    <button class="text_large btn-schedule">01:00</button>
                    <button class="text_large btn-schedule">02:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">03:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">04:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">05:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">06:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">07:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">08:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">09:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">10:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">11:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">12:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">13:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">14:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">15:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">16:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">17:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">18:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">19:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">20:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">21:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">22:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">23:00</button>
                </div>  
            </div>
            <div class="schedule-column">
                <p class="text_large text__color_grey">SAT</p>
                <div class="time-block">
                    <button class="text_large btn-schedule">00:00</button>
                    <button class="text_large btn-schedule">01:00</button>
                    <button class="text_large btn-schedule">02:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">03:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">04:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">05:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">06:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">07:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">08:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">09:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">10:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">11:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">12:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">13:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">14:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">15:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">16:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">17:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">18:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">19:00</button>               
                    <button class="text_large btn-schedule btn-schedule-active">20:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">21:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">22:00</button>
                    <button class="text_large btn-schedule btn-schedule-active">23:00</button>
                </div>  
            </div>
        </div>

        <div class="modal-window-button">
            <button
              class="button-modal button-one text_small text__color_dark-grey"
            >
              Save
            </button>
        </div>
    </div>
</div>
