.rating-label {
  display: flex;
  gap: 2px;

  &__star {
    width: 12px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.13484 0.669999C4.51042 -0.0396326 5.52697 -0.0396328 5.90254 0.669999L6.62851 2.04169C6.77343 2.31552 7.03708 2.50671 7.34238 2.55937L8.87033 2.82292C9.66361 2.95975 9.97833 3.93004 9.41638 4.50644L8.33934 5.61117C8.1224 5.8337 8.02124 6.14443 8.06561 6.45203L8.28603 7.97997C8.40078 8.77543 7.57779 9.37442 6.85613 9.02067L5.45884 8.33575C5.18119 8.19965 4.8562 8.19965 4.57855 8.33575L3.18125 9.02067C2.45959 9.37442 1.6366 8.77543 1.75135 7.97997L1.97177 6.45203C2.01614 6.14443 1.91498 5.8337 1.69804 5.61117L0.621007 4.50644C0.0590565 3.93004 0.373767 2.95975 1.16705 2.82292L2.69501 2.55937C3.0003 2.50671 3.26395 2.31552 3.40887 2.04169L4.13484 0.669999Z' fill='%23C2C7CE' fill-opacity='0.59'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
  }

  $rating: (1, 2, 3, 4, 5);

  @each $rate in $rating {
    &[data-rating='#{$rate}'] {
      :nth-child(-n + #{$rate}) {
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.13484 0.669999C4.51042 -0.0396326 5.52697 -0.0396328 5.90254 0.669999L6.62851 2.04169C6.77343 2.31552 7.03708 2.50671 7.34238 2.55937L8.87033 2.82292C9.66361 2.95975 9.97833 3.93004 9.41638 4.50644L8.33934 5.61117C8.1224 5.8337 8.02124 6.14443 8.06561 6.45203L8.28603 7.97997C8.40078 8.77543 7.57779 9.37442 6.85613 9.02067L5.45884 8.33575C5.18119 8.19965 4.8562 8.19965 4.57855 8.33575L3.18125 9.02067C2.45959 9.37442 1.6366 8.77543 1.75135 7.97997L1.97177 6.45203C2.01614 6.14443 1.91498 5.8337 1.69804 5.61117L0.621007 4.50644C0.0590565 3.93004 0.373767 2.95975 1.16705 2.82292L2.69501 2.55937C3.0003 2.50671 3.26395 2.31552 3.40887 2.04169L4.13484 0.669999Z' fill='%23FFDD00'/%3E%3C/svg%3E%0A");
      }
    }
  }
}
