.statistic-panel {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 12px;
  border-radius: 22px;
  box-shadow: 0px 5px 5px 0px rgba(52, 64, 84, 0.1),
    0px -5px 5px 0px rgba(255, 255, 255, 0.5);
  padding: 4px;

  &__left-part {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__central-part {
  }

  &__right-part {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }

  &__indicator {
    width: 35px;
    height: 35px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15) inset;
    border-radius: 50%;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }

  &__number {
    font-size: 10px;
    line-height: 12px;
  }

  &__button {
    height: 20px;
  }

  &__value {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $white;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15) inset;
    height: 33px;
    width: 66px;
    font-size: 24px;
    font-weight: 600;
    color: $white;
    border-radius: 16px;
    background-color: #eaf3f5;
  }
}
