.runner-panel {
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    gap: 15px;
  }

  &__subgrid {
    display: grid;
    align-content: start;
    gap: 10px;

    .block-wrapper {
      max-width: unset;
    }

    &--align-left {
      justify-items: flex-start;
    }
  }

  &__box {
    height: 500px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.02) inset;
    background-color: rgba(234, 242, 245, 0.5);
    border-radius: 4px;
  }
}
