<header>
  <div class="header padding-block_medium">
    <div class="d-flex justify-content-center">
      <!-- navigation menu  -->
      <div class="nav-menu justify-content-center w-auto">
        <nav class="nav__container_menu">
          <ul>
            <li>
              <a href="./statistic" class="text_large-2 active-link">
                Statistic
              </a>
            </li>
            <li>
              <a href="./" class="text_large-2">Limitter</a>
            </li>
            <li>
              <a href="#" class="text_large-2">Ladder</a>
            </li>
            <li>
              <a href="./runner" class="text_large-2">Runner</a>
            </li>
            <li>
              <a href="#" class="text_large-2">History</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center px-3">
    <div class="button-new-wrap">
      <button
        class="button-new button-new--navbar-first button-new_save-small text_large btn-shadow btn-active groupBtn"
        data-type="btn">
        Real
      </button>
      <button
        class="button-new button-new--navbar button-new_save-small text_large btn-shadow groupBtn"
        data-type="btn">
        Demo
      </button>
      <button
        class="button-new button-new--navbar button-new_normal text_large btn-shadow groupBtn"
        data-type="btn">
        Usdt
      </button>
      <button
        class="button-new button-new--navbar button-new_normal text_large btn-shadow groupBtn"
        data-type="btn">
        Prediction
      </button>
    </div>

    <div class="button-new-wrap">
      <button
        class="button-new button-new--navbar button-new_big-2 text_large btn-shadow groupBtn btn-active"
        data-type="btn">
        Current day
      </button>
      <button
        class="button-new button-new--navbar button-new_big-2 text_large btn-shadow groupBtn"
        data-type="btn">
        Last day
      </button>
      <button
        class="button-new button-new--navbar button-new_big-2 text_large btn-shadow groupBtn"
        data-type="btn">
        Last 3 days
      </button>
      <button
        class="button-new button-new--navbar button-new_big-2 text_large btn-shadow groupBtn"
        data-type="btn">
        Last 5 days
      </button>
      <button
        class="button-new button-new--navbar button-new_big-2 text_large btn-shadow groupBtn"
        data-type="btn">
        Current week
      </button>
      <button
        class="button-new button-new--navbar button-new_big-2 text_large btn-shadow groupBtn"
        data-type="btn">
        Last week
      </button>
      <button
        class="button-new button-new--navbar button-new_big-2 text_large btn-shadow groupBtn"
        data-type="btn">
        Current month
      </button>
      <button
        class="button-new button-new--navbar button-new_big-2 text_large btn-shadow groupBtn"
        data-type="btn">
        Last month
      </button>
      <button
        class="button-new button-new--navbar button-new_big-2 text_large btn-shadow groupBtn"
        data-type="btn">
        Current year
      </button>
      <button
        class="button-new button-new--navbar button-new_big-2 text_large btn-shadow groupBtn"
        data-type="btn">
        Last year
      </button>
    </div>

    <div class="d-flex align-items-center gap-2">
      <button
        class="button-non-press button-non-press--navbar-last button-non-press_big-2 text_large btn-shadow"
        data-type="btn"
        data-name="dates">
        Calendar
      </button>

      <div class="data-info-container w-auto">
        <div
          class="input-container-wrap input-container-wrap_normal left"
          data-input="input-field">
          <div class="input-wrapp input-wrapp_left">
            <input
              class="input-field input-field_left text_large text__color_dark-grey"
              type="text"
              data-type="date" />
          </div>
          <div class="input-text-center">
            <div class="data-wrap" data-type="dynamic" data-state="ture">
              <p class="text_large text__color_dark-grey">12.12.2023</p>
              <p class="text_small text__color_dark-grey"></p>
            </div>
          </div>
        </div>
        <div
          class="input-container-wrap input-container-wrap_normal right"
          data-input="input-field">
          <div class="input-wrapp input-wrapp_right">
            <input
              class="input-field input-field_right text_large text__color_dark-grey"
              type="text"
              data-type="date" />
          </div>
          <div class="input-text-center">
            <div class="data-wrap" data-type="dynamic" data-state="ture">
              <p class="text_large text__color_dark-grey">12.12.2023</p>
              <p class="text_small text__color_dark-grey"></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center gap-2 ms-auto">
      <p class="text text_regular text__color_dark-grey">Period</p>

      <div
        class="input-container-wrap input-container-wrap_tiny"
        data-input="input-field">
        <div class="input-wrapp">
          <input
            class="input-field text_large text__color_dark-grey"
            type="text"
            data-type="number" />
        </div>
        <div class="input-text-center">
          <div class="data-wrap" data-type="dynamic" data-state="ture">
            <p class="text_large text__color_dark-grey">10</p>
            <p class="text_small text__color_dark-grey">d</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
