<div class="range-blocks-grid">
  <div class="range-blocks-column">
    <div class="block-wrapper block-strategy">
      <div class="block-container-wrap">
        <div class="block-header-wrap overflow-hidden">
          <div class="block-header-title text_small text__color_dark-grey">
            Risk Reword
          </div>
        </div>

        <div class="block-content-wrap block-content-wrap--statistic">
          <div class="block-content-wrap__wrapper">
            <div class="dual-range-wrapper switchDualRange">
              <div class="switcher-wrap gap-4">
                <div class="form-switch m-0">
                  <input
                    class="form-check-input custom-outline m-auto"
                    type="checkbox"
                    role="switch"
                    checked />
                </div>
                <div class="dual-range-container">
                  <div class="data-wrap">
                    <p class="text_large text__color_dark-grey">-1.0</p>
                    <p class="text_small text__color_dark-grey">R</p>
                  </div>
                  <div
                    class="dual-range dual-range--red dualRange"
                    data-min="-1"
                    data-max="0"
                    data-current="-0.7,-0.5">
                    <span
                      class="dual-range__handle dual-range__handle--left left"
                      data-type="handle"
                      data-value="0"></span>
                    <span
                      class="dual-range__highlight"
                      style="display: block"></span>
                    <span
                      class="dual-range__handle dual-range__handle--right"
                      data-type="handle"
                      data-value="0"></span>
                  </div>
                  <div class="data-wrap">
                    <p class="text_large text__color_dark-grey">0.0</p>
                    <p class="text_small text__color_dark-grey">R</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="dual-range-wrapper switchDualRange">
              <div class="switcher-wrap gap-4">
                <div class="form-switch m-0">
                  <input
                    class="form-check-input custom-outline m-auto"
                    type="checkbox"
                    role="switch"
                    checked />
                </div>
                <div class="dual-range-container">
                  <div class="data-wrap">
                    <p class="text_large text__color_dark-grey">0.0</p>
                    <p class="text_small text__color_dark-grey">R</p>
                  </div>
                  <div
                    class="dual-range dualRange"
                    data-min="0"
                    data-max="61.8"
                    data-current="0.5,15.7">
                    <span
                      class="dual-range__handle dual-range__handle--left left"
                      data-type="handle"
                      data-value="0"></span>
                    <span
                      class="dual-range__highlight"
                      style="display: block"></span>
                    <span
                      class="dual-range__handle dual-range__handle--right"
                      data-type="handle"
                      data-value="0"></span>
                  </div>
                  <div class="data-wrap">
                    <p class="text_large text__color_dark-grey">61.8</p>
                    <p class="text_small text__color_dark-grey">R</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="range-blocks-column">
    <div class="block-wrapper block-strategy">
      <div class="block-container-wrap">
        <div class="block-header-wrap overflow-hidden">
          <div class="block-header-title text_small text__color_dark-grey">
            Balance %
          </div>
        </div>

        <div class="block-content-wrap block-content-wrap--statistic">
          <div class="block-content-wrap__wrapper">
            <div class="dual-range-wrapper switchDualRange">
              <div class="switcher-wrap gap-4">
                <div class="form-switch m-0">
                  <input
                    class="form-check-input custom-outline m-auto"
                    type="checkbox"
                    role="switch"
                    checked />
                </div>
                <div class="dual-range-container">
                  <div class="data-wrap">
                    <p class="text_large text__color_dark-grey">-144.0</p>
                    <p class="text_small text__color_dark-grey">%</p>
                  </div>
                  <div
                    class="dual-range dual-range--red dualRange"
                    data-min="-144"
                    data-max="0"
                    data-current="-40.5,-23.1">
                    <span
                      class="dual-range__handle dual-range__handle--left left"
                      data-type="handle"
                      data-value="0"></span>
                    <span
                      class="dual-range__highlight"
                      style="display: block"></span>
                    <span
                      class="dual-range__handle dual-range__handle--right"
                      data-type="handle"
                      data-value="0"></span>
                  </div>
                  <div class="data-wrap">
                    <p class="text_large text__color_dark-grey">0.0</p>
                    <p class="text_small text__color_dark-grey">%</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="dual-range-wrapper switchDualRange">
              <div class="switcher-wrap gap-4">
                <div class="form-switch m-0">
                  <input
                    class="form-check-input custom-outline m-auto"
                    type="checkbox"
                    role="switch"
                    checked />
                </div>
                <div class="dual-range-container">
                  <div class="data-wrap">
                    <p class="text_large text__color_dark-grey">0.0</p>
                    <p class="text_small text__color_dark-grey">%</p>
                  </div>
                  <div
                    class="dual-range dualRange"
                    data-min="0"
                    data-max="615.8"
                    data-current="0.5,315.7">
                    <span
                      class="dual-range__handle dual-range__handle--left left"
                      data-type="handle"
                      data-value="0"></span>
                    <span
                      class="dual-range__highlight"
                      style="display: block"></span>
                    <span
                      class="dual-range__handle dual-range__handle--right"
                      data-type="handle"
                      data-value="0"></span>
                  </div>
                  <div class="data-wrap">
                    <p class="text_large text__color_dark-grey">615.8</p>
                    <p class="text_small text__color_dark-grey">%</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
