<div class="modal-container d-none" data-modal="attention">
  <div class="modal-overlay closeModalTrigger"></div>

  <div class="modal-wrapper modal-attention">
    <div class="modal-window-wrap">
      <div class="modal-window-header">
        <h4 class="modal-window-title text_small text__color_grey">
          Attention
        </h4>
        <img
          class="modal-window-close-icon closeModalTrigger"
          src="../../../style_guide_2/img/close.svg"
          alt="close-cross" />
      </div>
      <div class="modal-attention__content">
        <p class="text_small text__color_dark-grey">
          Yeti is still working on positions. If you turn off Yeti, some
          positions might be rejected next time. Do you want to stop Yeti from
          working?
        </p>
      </div>
      <div class="modal-window-button">
        <button
          class="button-modal button-modal-left text_small text__color_dark-grey turnOnTrigger closeModalTrigger">
          Yes
        </button>
        <button
          class="button-modal button-modal-right text_small text__color_dark-grey closeModalTrigger">
          No
        </button>
      </div>
    </div>
  </div>
</div>
