<div
  class="modal-wrapper modal-statistic modal-draggable d-none"
  data-modal="statistic">
  <div class="modal-window-wrap">
    <div class="modal-window-header modal-drag-drop">
      <h4 class="modal-window-title text_regular text__color_dark-grey">
        Statistic
      </h4>

      <img
        class="modal-window-close-icon closeModalTrigger"
        src="./img/close.svg"
        alt="close-cross" />
    </div>

    <div class="modal-statistic__content">
      <div class="modal-statistic__grid">
        <div class="modal-statistic__column">
          <div class="statistic-panel">
            <div class="statistic-panel__left-part">
              <div
                class="statistic-panel__indicator"
                data-modal-name="profit-range"></div>

              <div class="d-flex align-items-baseline gap-1">
                <div class="statistic-panel__title">Limmiter</div>
                <div class="statistic-panel__number">#243489344</div>
              </div>
            </div>

            <div class="statistic-panel__center-part">
              <div class="info-line-wrapper stretch-panel-info-line-wrapper">
                <div class="info-line-box" data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_red-info">
                    -1.0
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_red-info">
                    R
                  </p>
                </div>
                <div
                  class="info-line-box info-line-box_middle"
                  data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_red-info">
                    -0.2
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_red-info">
                    %
                  </p>
                </div>
                <div
                  class="info-line-box"
                  data-value="data-field"
                  data-unit="$">
                  <p class="info-line-box_data text_huge text__color_red-info">
                    -500
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_red-info">
                    $
                  </p>
                </div>
              </div>
            </div>

            <div class="statistic-panel__right-part">
              <button
                class="statistic-panel__button button-non-press button-non-press-normal text_small"
                data-type="btn"
                data-modal-name="images-modal">
                Images
              </button>

              <div class="small-indicator small-indicator--red"></div>

              <div class="statistic-panel__value">100</div>
            </div>
          </div>

          <div class="statistic-panel">
            <div class="statistic-panel__left-part">
              <div
                class="statistic-panel__indicator"
                data-modal-name="profit-range"></div>

              <div class="d-flex align-items-baseline gap-1">
                <div class="statistic-panel__title">Runner</div>
                <div class="statistic-panel__number">#243489344</div>
              </div>
            </div>

            <div class="statistic-panel__center-part">
              <div class="info-line-wrapper stretch-panel-info-line-wrapper">
                <div class="info-line-box" data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_dark-blue">
                    2.5
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_dark-blue">
                    R
                  </p>
                </div>
                <div
                  class="info-line-box info-line-box_middle"
                  data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_dark-blue">
                    0.8
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_dark-blue">
                    %
                  </p>
                </div>
                <div
                  class="info-line-box"
                  data-value="data-field"
                  data-unit="$">
                  <p class="info-line-box_data text_huge text__color_dark-blue">
                    1250
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_dark-blue">
                    $
                  </p>
                </div>
              </div>
            </div>

            <div class="statistic-panel__right-part">
              <button
                class="statistic-panel__button button-non-press button-non-press-normal text_small"
                data-type="btn"
                data-modal-name="images-modal">
                Images
              </button>

              <div class="small-indicator small-indicator--green"></div>

              <div class="statistic-panel__value">75</div>
            </div>
          </div>

          <div class="statistic-panel">
            <div class="statistic-panel__left-part">
              <div
                class="statistic-panel__indicator"
                data-modal-name="profit-range"></div>

              <div class="d-flex align-items-baseline gap-1">
                <div class="statistic-panel__title">Limmiter</div>
                <div class="statistic-panel__number">#243489344</div>
              </div>
            </div>

            <div class="statistic-panel__center-part">
              <div class="info-line-wrapper stretch-panel-info-line-wrapper">
                <div class="info-line-box" data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_red-info">
                    -1.0
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_red-info">
                    R
                  </p>
                </div>
                <div
                  class="info-line-box info-line-box_middle"
                  data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_red-info">
                    -0.2
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_red-info">
                    %
                  </p>
                </div>
                <div
                  class="info-line-box"
                  data-value="data-field"
                  data-unit="$">
                  <p class="info-line-box_data text_huge text__color_red-info">
                    -500
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_red-info">
                    $
                  </p>
                </div>
              </div>
            </div>

            <div class="statistic-panel__right-part">
              <button
                class="statistic-panel__button button-non-press button-non-press-normal text_small"
                data-type="btn"
                data-modal-name="images-modal">
                Images
              </button>

              <div class="small-indicator small-indicator--red"></div>

              <div class="statistic-panel__value">100</div>
            </div>
          </div>

          <div class="statistic-panel">
            <div class="statistic-panel__left-part">
              <div
                class="statistic-panel__indicator"
                data-modal-name="profit-range"></div>

              <div class="d-flex align-items-baseline gap-1">
                <div class="statistic-panel__title">Runner</div>
                <div class="statistic-panel__number">#243489344</div>
              </div>
            </div>

            <div class="statistic-panel__center-part">
              <div class="info-line-wrapper stretch-panel-info-line-wrapper">
                <div class="info-line-box" data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_dark-blue">
                    2.5
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_dark-blue">
                    R
                  </p>
                </div>
                <div
                  class="info-line-box info-line-box_middle"
                  data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_dark-blue">
                    0.8
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_dark-blue">
                    %
                  </p>
                </div>
                <div
                  class="info-line-box"
                  data-value="data-field"
                  data-unit="$">
                  <p class="info-line-box_data text_huge text__color_dark-blue">
                    1250
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_dark-blue">
                    $
                  </p>
                </div>
              </div>
            </div>

            <div class="statistic-panel__right-part">
              <button
                class="statistic-panel__button button-non-press button-non-press-normal text_small"
                data-type="btn"
                data-modal-name="images-modal">
                Images
              </button>

              <div class="small-indicator small-indicator--green"></div>

              <div class="statistic-panel__value">75</div>
            </div>
          </div>

          <div class="statistic-panel">
            <div class="statistic-panel__left-part">
              <div
                class="statistic-panel__indicator"
                data-modal-name="profit-range"></div>

              <div class="d-flex align-items-baseline gap-1">
                <div class="statistic-panel__title">Limmiter</div>
                <div class="statistic-panel__number">#243489344</div>
              </div>
            </div>

            <div class="statistic-panel__center-part">
              <div class="info-line-wrapper stretch-panel-info-line-wrapper">
                <div class="info-line-box" data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_red-info">
                    -1.0
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_red-info">
                    R
                  </p>
                </div>
                <div
                  class="info-line-box info-line-box_middle"
                  data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_red-info">
                    -0.2
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_red-info">
                    %
                  </p>
                </div>
                <div
                  class="info-line-box"
                  data-value="data-field"
                  data-unit="$">
                  <p class="info-line-box_data text_huge text__color_red-info">
                    -500
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_red-info">
                    $
                  </p>
                </div>
              </div>
            </div>

            <div class="statistic-panel__right-part">
              <button
                class="statistic-panel__button button-non-press button-non-press-normal text_small"
                data-type="btn"
                data-modal-name="images-modal">
                Images
              </button>

              <div class="small-indicator small-indicator--red"></div>

              <div class="statistic-panel__value">100</div>
            </div>
          </div>

          <div class="statistic-panel">
            <div class="statistic-panel__left-part">
              <div
                class="statistic-panel__indicator"
                data-modal-name="profit-range"></div>

              <div class="d-flex align-items-baseline gap-1">
                <div class="statistic-panel__title">Runner</div>
                <div class="statistic-panel__number">#243489344</div>
              </div>
            </div>

            <div class="statistic-panel__center-part">
              <div class="info-line-wrapper stretch-panel-info-line-wrapper">
                <div class="info-line-box" data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_dark-blue">
                    2.5
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_dark-blue">
                    R
                  </p>
                </div>
                <div
                  class="info-line-box info-line-box_middle"
                  data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_dark-blue">
                    0.8
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_dark-blue">
                    %
                  </p>
                </div>
                <div
                  class="info-line-box"
                  data-value="data-field"
                  data-unit="$">
                  <p class="info-line-box_data text_huge text__color_dark-blue">
                    1250
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_dark-blue">
                    $
                  </p>
                </div>
              </div>
            </div>

            <div class="statistic-panel__right-part">
              <button
                class="statistic-panel__button button-non-press button-non-press-normal text_small"
                data-type="btn"
                data-modal-name="images-modal">
                Images
              </button>

              <div class="small-indicator small-indicator--green"></div>

              <div class="statistic-panel__value">75</div>
            </div>
          </div>

          <div class="statistic-panel">
            <div class="statistic-panel__left-part">
              <div
                class="statistic-panel__indicator"
                data-modal-name="profit-range"></div>

              <div class="d-flex align-items-baseline gap-1">
                <div class="statistic-panel__title">Limmiter</div>
                <div class="statistic-panel__number">#243489344</div>
              </div>
            </div>

            <div class="statistic-panel__center-part">
              <div class="info-line-wrapper stretch-panel-info-line-wrapper">
                <div class="info-line-box" data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_red-info">
                    -1.0
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_red-info">
                    R
                  </p>
                </div>
                <div
                  class="info-line-box info-line-box_middle"
                  data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_red-info">
                    -0.2
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_red-info">
                    %
                  </p>
                </div>
                <div
                  class="info-line-box"
                  data-value="data-field"
                  data-unit="$">
                  <p class="info-line-box_data text_huge text__color_red-info">
                    -500
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_red-info">
                    $
                  </p>
                </div>
              </div>
            </div>

            <div class="statistic-panel__right-part">
              <button
                class="statistic-panel__button button-non-press button-non-press-normal text_small"
                data-type="btn"
                data-modal-name="images-modal">
                Images
              </button>

              <div class="small-indicator small-indicator--red"></div>

              <div class="statistic-panel__value">100</div>
            </div>
          </div>

          <div class="statistic-panel">
            <div class="statistic-panel__left-part">
              <div
                class="statistic-panel__indicator"
                data-modal-name="profit-range"></div>

              <div class="d-flex align-items-baseline gap-1">
                <div class="statistic-panel__title">Runner</div>
                <div class="statistic-panel__number">#243489344</div>
              </div>
            </div>

            <div class="statistic-panel__center-part">
              <div class="info-line-wrapper stretch-panel-info-line-wrapper">
                <div class="info-line-box" data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_dark-blue">
                    2.5
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_dark-blue">
                    R
                  </p>
                </div>
                <div
                  class="info-line-box info-line-box_middle"
                  data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_dark-blue">
                    0.8
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_dark-blue">
                    %
                  </p>
                </div>
                <div
                  class="info-line-box"
                  data-value="data-field"
                  data-unit="$">
                  <p class="info-line-box_data text_huge text__color_dark-blue">
                    1250
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_dark-blue">
                    $
                  </p>
                </div>
              </div>
            </div>

            <div class="statistic-panel__right-part">
              <button
                class="statistic-panel__button button-non-press button-non-press-normal text_small"
                data-type="btn"
                data-modal-name="images-modal">
                Images
              </button>

              <div class="small-indicator small-indicator--green"></div>

              <div class="statistic-panel__value">75</div>
            </div>
          </div>

          <div class="statistic-panel">
            <div class="statistic-panel__left-part">
              <div
                class="statistic-panel__indicator"
                data-modal-name="profit-range"></div>

              <div class="d-flex align-items-baseline gap-1">
                <div class="statistic-panel__title">Limmiter</div>
                <div class="statistic-panel__number">#243489344</div>
              </div>
            </div>

            <div class="statistic-panel__center-part">
              <div class="info-line-wrapper stretch-panel-info-line-wrapper">
                <div class="info-line-box" data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_red-info">
                    -1.0
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_red-info">
                    R
                  </p>
                </div>
                <div
                  class="info-line-box info-line-box_middle"
                  data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_red-info">
                    -0.2
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_red-info">
                    %
                  </p>
                </div>
                <div
                  class="info-line-box"
                  data-value="data-field"
                  data-unit="$">
                  <p class="info-line-box_data text_huge text__color_red-info">
                    -500
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_red-info">
                    $
                  </p>
                </div>
              </div>
            </div>

            <div class="statistic-panel__right-part">
              <button
                class="statistic-panel__button button-non-press button-non-press-normal text_small"
                data-type="btn"
                data-modal-name="images-modal">
                Images
              </button>

              <div class="small-indicator small-indicator--red"></div>

              <div class="statistic-panel__value">100</div>
            </div>
          </div>

          <div class="statistic-panel">
            <div class="statistic-panel__left-part">
              <div
                class="statistic-panel__indicator"
                data-modal-name="profit-range"></div>

              <div class="d-flex align-items-baseline gap-1">
                <div class="statistic-panel__title">Runner</div>
                <div class="statistic-panel__number">#243489344</div>
              </div>
            </div>

            <div class="statistic-panel__center-part">
              <div class="info-line-wrapper stretch-panel-info-line-wrapper">
                <div class="info-line-box" data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_dark-blue">
                    2.5
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_dark-blue">
                    R
                  </p>
                </div>
                <div
                  class="info-line-box info-line-box_middle"
                  data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_dark-blue">
                    0.8
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_dark-blue">
                    %
                  </p>
                </div>
                <div
                  class="info-line-box"
                  data-value="data-field"
                  data-unit="$">
                  <p class="info-line-box_data text_huge text__color_dark-blue">
                    1250
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_dark-blue">
                    $
                  </p>
                </div>
              </div>
            </div>

            <div class="statistic-panel__right-part">
              <button
                class="statistic-panel__button button-non-press button-non-press-normal text_small"
                data-type="btn"
                data-modal-name="images-modal">
                Images
              </button>

              <div class="small-indicator small-indicator--green"></div>

              <div class="statistic-panel__value">75</div>
            </div>
          </div>
        </div>

        <div class="modal-statistic__column">
          <div class="statistic-panel">
            <div class="statistic-panel__left-part">
              <div
                class="statistic-panel__indicator"
                data-modal-name="profit-range"></div>

              <div class="d-flex align-items-baseline gap-1">
                <div class="statistic-panel__title">Limmiter</div>
                <div class="statistic-panel__number">#243489344</div>
              </div>
            </div>

            <div class="statistic-panel__center-part">
              <div class="info-line-wrapper stretch-panel-info-line-wrapper">
                <div class="info-line-box" data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_red-info">
                    -1.0
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_red-info">
                    R
                  </p>
                </div>
                <div
                  class="info-line-box info-line-box_middle"
                  data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_red-info">
                    -0.2
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_red-info">
                    %
                  </p>
                </div>
                <div
                  class="info-line-box"
                  data-value="data-field"
                  data-unit="$">
                  <p class="info-line-box_data text_huge text__color_red-info">
                    -500
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_red-info">
                    $
                  </p>
                </div>
              </div>
            </div>

            <div class="statistic-panel__right-part">
              <button
                class="statistic-panel__button button-non-press button-non-press-normal text_small"
                data-type="btn"
                data-modal-name="images-modal">
                Images
              </button>

              <div class="small-indicator small-indicator--red"></div>

              <div class="statistic-panel__value">100</div>
            </div>
          </div>

          <div class="statistic-panel">
            <div class="statistic-panel__left-part">
              <div
                class="statistic-panel__indicator"
                data-modal-name="profit-range"></div>

              <div class="d-flex align-items-baseline gap-1">
                <div class="statistic-panel__title">Runner</div>
                <div class="statistic-panel__number">#243489344</div>
              </div>
            </div>

            <div class="statistic-panel__center-part">
              <div class="info-line-wrapper stretch-panel-info-line-wrapper">
                <div class="info-line-box" data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_dark-blue">
                    2.5
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_dark-blue">
                    R
                  </p>
                </div>
                <div
                  class="info-line-box info-line-box_middle"
                  data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_dark-blue">
                    0.8
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_dark-blue">
                    %
                  </p>
                </div>
                <div
                  class="info-line-box"
                  data-value="data-field"
                  data-unit="$">
                  <p class="info-line-box_data text_huge text__color_dark-blue">
                    1250
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_dark-blue">
                    $
                  </p>
                </div>
              </div>
            </div>

            <div class="statistic-panel__right-part">
              <button
                class="statistic-panel__button button-non-press button-non-press-normal text_small"
                data-type="btn"
                data-modal-name="images-modal">
                Images
              </button>

              <div class="small-indicator small-indicator--green"></div>

              <div class="statistic-panel__value">75</div>
            </div>
          </div>

          <div class="statistic-panel">
            <div class="statistic-panel__left-part">
              <div
                class="statistic-panel__indicator"
                data-modal-name="profit-range"></div>

              <div class="d-flex align-items-baseline gap-1">
                <div class="statistic-panel__title">Limmiter</div>
                <div class="statistic-panel__number">#243489344</div>
              </div>
            </div>

            <div class="statistic-panel__center-part">
              <div class="info-line-wrapper stretch-panel-info-line-wrapper">
                <div class="info-line-box" data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_red-info">
                    -1.0
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_red-info">
                    R
                  </p>
                </div>
                <div
                  class="info-line-box info-line-box_middle"
                  data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_red-info">
                    -0.2
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_red-info">
                    %
                  </p>
                </div>
                <div
                  class="info-line-box"
                  data-value="data-field"
                  data-unit="$">
                  <p class="info-line-box_data text_huge text__color_red-info">
                    -500
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_red-info">
                    $
                  </p>
                </div>
              </div>
            </div>

            <div class="statistic-panel__right-part">
              <button
                class="statistic-panel__button button-non-press button-non-press-normal text_small"
                data-type="btn"
                data-modal-name="images-modal">
                Images
              </button>

              <div class="small-indicator small-indicator--red"></div>

              <div class="statistic-panel__value">100</div>
            </div>
          </div>

          <div class="statistic-panel">
            <div class="statistic-panel__left-part">
              <div
                class="statistic-panel__indicator"
                data-modal-name="profit-range"></div>

              <div class="d-flex align-items-baseline gap-1">
                <div class="statistic-panel__title">Runner</div>
                <div class="statistic-panel__number">#243489344</div>
              </div>
            </div>

            <div class="statistic-panel__center-part">
              <div class="info-line-wrapper stretch-panel-info-line-wrapper">
                <div class="info-line-box" data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_dark-blue">
                    2.5
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_dark-blue">
                    R
                  </p>
                </div>
                <div
                  class="info-line-box info-line-box_middle"
                  data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_dark-blue">
                    0.8
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_dark-blue">
                    %
                  </p>
                </div>
                <div
                  class="info-line-box"
                  data-value="data-field"
                  data-unit="$">
                  <p class="info-line-box_data text_huge text__color_dark-blue">
                    1250
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_dark-blue">
                    $
                  </p>
                </div>
              </div>
            </div>

            <div class="statistic-panel__right-part">
              <button
                class="statistic-panel__button button-non-press button-non-press-normal text_small"
                data-type="btn"
                data-modal-name="images-modal">
                Images
              </button>

              <div class="small-indicator small-indicator--green"></div>

              <div class="statistic-panel__value">75</div>
            </div>
          </div>

          <div class="statistic-panel">
            <div class="statistic-panel__left-part">
              <div
                class="statistic-panel__indicator"
                data-modal-name="profit-range"></div>

              <div class="d-flex align-items-baseline gap-1">
                <div class="statistic-panel__title">Limmiter</div>
                <div class="statistic-panel__number">#243489344</div>
              </div>
            </div>

            <div class="statistic-panel__center-part">
              <div class="info-line-wrapper stretch-panel-info-line-wrapper">
                <div class="info-line-box" data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_red-info">
                    -1.0
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_red-info">
                    R
                  </p>
                </div>
                <div
                  class="info-line-box info-line-box_middle"
                  data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_red-info">
                    -0.2
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_red-info">
                    %
                  </p>
                </div>
                <div
                  class="info-line-box"
                  data-value="data-field"
                  data-unit="$">
                  <p class="info-line-box_data text_huge text__color_red-info">
                    -500
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_red-info">
                    $
                  </p>
                </div>
              </div>
            </div>

            <div class="statistic-panel__right-part">
              <button
                class="statistic-panel__button button-non-press button-non-press-normal text_small"
                data-type="btn"
                data-modal-name="images-modal">
                Images
              </button>

              <div class="small-indicator small-indicator--red"></div>

              <div class="statistic-panel__value">100</div>
            </div>
          </div>

          <div class="statistic-panel">
            <div class="statistic-panel__left-part">
              <div
                class="statistic-panel__indicator"
                data-modal-name="profit-range"></div>

              <div class="d-flex align-items-baseline gap-1">
                <div class="statistic-panel__title">Runner</div>
                <div class="statistic-panel__number">#243489344</div>
              </div>
            </div>

            <div class="statistic-panel__center-part">
              <div class="info-line-wrapper stretch-panel-info-line-wrapper">
                <div class="info-line-box" data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_dark-blue">
                    2.5
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_dark-blue">
                    R
                  </p>
                </div>
                <div
                  class="info-line-box info-line-box_middle"
                  data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_dark-blue">
                    0.8
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_dark-blue">
                    %
                  </p>
                </div>
                <div
                  class="info-line-box"
                  data-value="data-field"
                  data-unit="$">
                  <p class="info-line-box_data text_huge text__color_dark-blue">
                    1250
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_dark-blue">
                    $
                  </p>
                </div>
              </div>
            </div>

            <div class="statistic-panel__right-part">
              <button
                class="statistic-panel__button button-non-press button-non-press-normal text_small"
                data-type="btn"
                data-modal-name="images-modal">
                Images
              </button>

              <div class="small-indicator small-indicator--green"></div>

              <div class="statistic-panel__value">75</div>
            </div>
          </div>

          <div class="statistic-panel">
            <div class="statistic-panel__left-part">
              <div
                class="statistic-panel__indicator"
                data-modal-name="profit-range"></div>

              <div class="d-flex align-items-baseline gap-1">
                <div class="statistic-panel__title">Limmiter</div>
                <div class="statistic-panel__number">#243489344</div>
              </div>
            </div>

            <div class="statistic-panel__center-part">
              <div class="info-line-wrapper stretch-panel-info-line-wrapper">
                <div class="info-line-box" data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_red-info">
                    -1.0
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_red-info">
                    R
                  </p>
                </div>
                <div
                  class="info-line-box info-line-box_middle"
                  data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_red-info">
                    -0.2
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_red-info">
                    %
                  </p>
                </div>
                <div
                  class="info-line-box"
                  data-value="data-field"
                  data-unit="$">
                  <p class="info-line-box_data text_huge text__color_red-info">
                    -500
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_red-info">
                    $
                  </p>
                </div>
              </div>
            </div>

            <div class="statistic-panel__right-part">
              <button
                class="statistic-panel__button button-non-press button-non-press-normal text_small"
                data-type="btn"
                data-modal-name="images-modal">
                Images
              </button>

              <div class="small-indicator small-indicator--red"></div>

              <div class="statistic-panel__value">100</div>
            </div>
          </div>

          <div class="statistic-panel">
            <div class="statistic-panel__left-part">
              <div
                class="statistic-panel__indicator"
                data-modal-name="profit-range"></div>

              <div class="d-flex align-items-baseline gap-1">
                <div class="statistic-panel__title">Runner</div>
                <div class="statistic-panel__number">#243489344</div>
              </div>
            </div>

            <div class="statistic-panel__center-part">
              <div class="info-line-wrapper stretch-panel-info-line-wrapper">
                <div class="info-line-box" data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_dark-blue">
                    2.5
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_dark-blue">
                    R
                  </p>
                </div>
                <div
                  class="info-line-box info-line-box_middle"
                  data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_dark-blue">
                    0.8
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_dark-blue">
                    %
                  </p>
                </div>
                <div
                  class="info-line-box"
                  data-value="data-field"
                  data-unit="$">
                  <p class="info-line-box_data text_huge text__color_dark-blue">
                    1250
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_dark-blue">
                    $
                  </p>
                </div>
              </div>
            </div>

            <div class="statistic-panel__right-part">
              <button
                class="statistic-panel__button button-non-press button-non-press-normal text_small"
                data-type="btn"
                data-modal-name="images-modal">
                Images
              </button>

              <div class="small-indicator small-indicator--green"></div>

              <div class="statistic-panel__value">75</div>
            </div>
          </div>

          <div class="statistic-panel">
            <div class="statistic-panel__left-part">
              <div
                class="statistic-panel__indicator"
                data-modal-name="profit-range"></div>

              <div class="d-flex align-items-baseline gap-1">
                <div class="statistic-panel__title">Limmiter</div>
                <div class="statistic-panel__number">#243489344</div>
              </div>
            </div>

            <div class="statistic-panel__center-part">
              <div class="info-line-wrapper stretch-panel-info-line-wrapper">
                <div class="info-line-box" data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_red-info">
                    -1.0
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_red-info">
                    R
                  </p>
                </div>
                <div
                  class="info-line-box info-line-box_middle"
                  data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_red-info">
                    -0.2
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_red-info">
                    %
                  </p>
                </div>
                <div
                  class="info-line-box"
                  data-value="data-field"
                  data-unit="$">
                  <p class="info-line-box_data text_huge text__color_red-info">
                    -500
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_red-info">
                    $
                  </p>
                </div>
              </div>
            </div>

            <div class="statistic-panel__right-part">
              <button
                class="statistic-panel__button button-non-press button-non-press-normal text_small"
                data-type="btn"
                data-modal-name="images-modal">
                Images
              </button>

              <div class="small-indicator small-indicator--red"></div>

              <div class="statistic-panel__value">100</div>
            </div>
          </div>

          <div class="statistic-panel">
            <div class="statistic-panel__left-part">
              <div
                class="statistic-panel__indicator"
                data-modal-name="profit-range"></div>

              <div class="d-flex align-items-baseline gap-1">
                <div class="statistic-panel__title">Runner</div>
                <div class="statistic-panel__number">#243489344</div>
              </div>
            </div>

            <div class="statistic-panel__center-part">
              <div class="info-line-wrapper stretch-panel-info-line-wrapper">
                <div class="info-line-box" data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_dark-blue">
                    2.5
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_dark-blue">
                    R
                  </p>
                </div>
                <div
                  class="info-line-box info-line-box_middle"
                  data-value="data-field">
                  <p class="info-line-box_data text_huge text__color_dark-blue">
                    0.8
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_dark-blue">
                    %
                  </p>
                </div>
                <div
                  class="info-line-box"
                  data-value="data-field"
                  data-unit="$">
                  <p class="info-line-box_data text_huge text__color_dark-blue">
                    1250
                  </p>
                  <p
                    class="info-line-box_text text_regular text__color_dark-blue">
                    $
                  </p>
                </div>
              </div>
            </div>

            <div class="statistic-panel__right-part">
              <button
                class="statistic-panel__button button-non-press button-non-press-normal text_small"
                data-type="btn"
                data-modal-name="images-modal">
                Images
              </button>

              <div class="small-indicator small-indicator--green"></div>

              <div class="statistic-panel__value">75</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-container d-none" data-modal="profit-range">
  <div class="modal-overlay closeModalTrigger"></div>

  <div class="profit-range"></div>
</div>

<div class="modal-container d-none" data-modal="images-modal">
  <div class="modal-overlay closeModalTrigger"></div>

  <div class="modal-wrapper modal-gallery">
    <div class="modal-window-wrap">
      <div class="modal-window-header">
        <h4 class="modal-window-title text_small text__color_grey">
          Images Gallery
        </h4>
        <img
          class="modal-window-close-icon closeModalTrigger"
          src="./img/close.svg"
          alt="close-cross" />
      </div>
      <div class="modal-gallery__content">
        <div class="gallery-block">
          <div class="gallery-block__item galleryItem">
            <a
              href="https://picsum.photos/id/20/200/300"
              class="gallery-block__link"
              data-fancybox="gallery"
              data-caption="Single image">
              <img src="https://picsum.photos/id/20/200/300" alt="image-2" />
            </a>

            <button
              class="gallery-block__close removeGalleryItem"
              aria-label="Remove item"></button>
          </div>
          <div class="gallery-block__item galleryItem">
            <a
              href="https://picsum.photos/id/40/200/300"
              class="gallery-block__link"
              data-fancybox="gallery"
              data-caption="Single image">
              <img src="https://picsum.photos/id/40/200/300" alt="image-2" />
            </a>

            <button
              class="gallery-block__close removeGalleryItem"
              aria-label="Remove item"></button>
          </div>
          <div class="gallery-block__item galleryItem">
            <a
              href="https://picsum.photos/id/60/200/300"
              class="gallery-block__link"
              data-fancybox="gallery"
              data-caption="Single image">
              <img src="https://picsum.photos/id/60/200/300" alt="image-2" />
            </a>

            <button
              class="gallery-block__close removeGalleryItem"
              aria-label="Remove item"></button>
          </div>
          <div class="gallery-block__item galleryItem">
            <a
              href="https://picsum.photos/id/80/200/300"
              class="gallery-block__link"
              data-fancybox="gallery"
              data-caption="Single image">
              <img src="https://picsum.photos/id/80/200/300" alt="image-2" />
            </a>

            <button
              class="gallery-block__close removeGalleryItem"
              aria-label="Remove item"></button>
          </div>
          <div class="gallery-block__item galleryItem">
            <a
              href="https://picsum.photos/id/100/200/300"
              class="gallery-block__link"
              data-fancybox="gallery"
              data-caption="Single image">
              <img src="https://picsum.photos/id/100/200/300" alt="image-2" />
            </a>

            <button
              class="gallery-block__close removeGalleryItem"
              aria-label="Remove item"></button>
          </div>
          <div class="gallery-block__item galleryItem">
            <a
              href="https://picsum.photos/id/120/200/300"
              class="gallery-block__link"
              data-fancybox="gallery"
              data-caption="Single image">
              <img src="https://picsum.photos/id/120/200/300" alt="image-2" />
            </a>

            <button
              class="gallery-block__close removeGalleryItem"
              aria-label="Remove item"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
