<div
  class="modal-wrapper modal-risk-wrap modal-draggable d-none"
  data-modal="risk">
  <div class="modal-window-wrap">
    <div class="modal-window-header modal-drag-drop">
      <h4 class="modal-window-title text_regular text__color_dark-grey">
        Risk Manager
      </h4>
      <img
        class="modal-window-close-icon closeModalTrigger"
        src="/img/close.svg"
        alt="close-cross" />
    </div>

    <div class="modal-window-content grid grid-risk">
      <!-- timer -->
      <div class="timer-container">
        <p class="timer-title text_regular text__color_dark-grey">Timer</p>
        <div class="timer">2:17:14</div>
      </div>
      <!-- time options line -->
      <p class="risk-text text_regular text__color_dark-grey">UTC</p>

      <div class="data-info-container data-info-container_tiny grid-col-input">
        <div
          class="input-container-wrap input-container-wrap_tiny"
          data-input="input-field">
          <div class="input-wrapp">
            <input
              class="input-field text_large text__color_dark-grey"
              type="text"
              data-type="dynamic-number"
              data-unit="date" />
          </div>
          <div class="input-text-center">
            <div class="data-wrap" data-type="dynamic" data-state="ture">
              <p class="text_large text__color_dark-grey">+3</p>
              <p class="text_small text__color_dark-grey"></p>
            </div>
          </div>
        </div>
      </div>
      <!-- daily loss select -->
      <div class="handler-box grid-col-selector">
        <div class="selector-wrapper">
          <div
            data-type="dynamic"
            data-state="ture"
            class="selector selector_regular">
            <div class="selector__header selector-arrow">
              <div class="text-wrapp">
                <p class="selector__inner-text text_regular">Daily Loss $</p>
              </div>
            </div>

            <div class="selector__dropdown">
              <ul>
                <li class="padding-contaier_xsmall">
                  <p class="selector__dropdown-text text_regular">
                    Daily Loss %
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div
        class="data-info-container data-info-container_medium grid-col-input-2">
        <div
          class="input-container-wrap input-container-wrap_tiny left"
          data-input="input-field">
          <div class="input-wrapp input-wrapp_left">
            <input
              class="input-field input-field_left text_large text__color_dark-grey"
              type="text"
              data-type="dynamic-number"
              data-unit="$" />
          </div>
          <div class="input-text-center">
            <div class="data-wrap" data-type="dynamic" data-state="ture">
              <p class="text_large text__color_dark-grey">-1000</p>
              <p class="text_small text__color_dark-grey">$</p>
            </div>
          </div>
        </div>
        <div
          class="input-container-wrap input-container-wrap_tiny right"
          data-input="input-field">
          <div class="input-wrapp input-wrapp_right hidden">
            <input
              class="input-field input-field_right text_large text__color_dark-grey"
              type="text"
              data-type="dynamic-number"
              data-unit="$" />
          </div>
          <div class="input-text-center right-small input-disabled">
            <div class="data-wrap" data-type="dynamic" data-state="ture">
              <p class="text_large text__color_red">-150</p>
              <p class="text_small text__color_red">$</p>
            </div>
          </div>
        </div>
      </div>
      <!-- daily SL counter -->
      <div class="switcher-wrap switcher-wrap_gap-medium grid-row-switcher">
        <div class="form-switch">
          <input
            class="form-check-input custom-outline m-auto"
            type="checkbox"
            role="switch"
            checked />
        </div>
        <div class="data-wrap">
          <p class="text text_regular text__color_dark-grey">
            Daily SL Counter
          </p>
        </div>
        <div class="handler-box grid-sl-position">
          <div class="data-info-container data-info-container_medium">
            <div
              class="input-container-wrap input-container-wrap_tiny left"
              data-input="input-field">
              <div class="input-wrapp input-wrapp_left">
                <input
                  class="input-field input-field_left text_large text__color_dark-grey"
                  type="text"
                  data-type="number" />
              </div>
              <div class="input-text-center">
                <div class="data-wrap" data-type="dynamic" data-state="ture">
                  <p class="text_large text__color_dark-grey">20</p>
                  <p class="text_small text__color_dark-grey"></p>
                </div>
              </div>
            </div>
            <div
              class="input-container-wrap input-container-wrap_tiny right"
              data-input="input-field">
              <div class="input-wrapp input-wrapp_right hidden">
                <input
                  class="input-field input-field_right text_large text__color_dark-grey"
                  type="text"
                  data-type="number" />
              </div>
              <div class="input-text-center right-small input-disabled">
                <div class="data-wrap" data-type="dynamic" data-state="ture">
                  <p class="text_large text__color_grey">20</p>
                  <p class="text_small text__color_grey"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- squeeze risk selector -->
      <div class="handler-box grid-col-selector-2">
        <div class="selector-wrapper">
          <div
            data-type="dynamic"
            data-state="ture"
            class="selector selector_regular">
            <div class="selector__header selector-arrow">
              <div class="text-wrapp">
                <p class="selector__inner-text text_regular">Squeeze Risk %</p>
              </div>
            </div>

            <div class="selector__dropdown">
              <ul>
                <li class="padding-contaier_xsmall">
                  <p class="selector__dropdown-text text_regular">
                    Squeeze Risk $
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div
        class="data-info-container data-info-container_medium grid-col-input-3">
        <div
          class="input-container-wrap input-container-wrap_tiny left"
          data-input="input-field">
          <div class="input-wrapp input-wrapp_left">
            <input
              class="input-field input-field_left text_large text__color_dark-grey"
              type="text"
              data-type="dynamic-number"
              data-unit="%" />
          </div>
          <div class="input-text-center">
            <div class="data-wrap" data-type="dynamic" data-state="ture">
              <p class="text_large text__color_dark-grey">-10</p>
              <p class="text_small text__color_dark-grey">%</p>
            </div>
          </div>
        </div>
        <div
          class="input-container-wrap input-container-wrap_tiny right"
          data-input="input-field">
          <div class="input-wrapp input-wrapp_right hidden">
            <input
              class="input-field input-field_right text_large text__color_dark-grey"
              type="text"
              data-type="number"
              data-unit="$" />
          </div>
          <div class="input-text-center right-small input-disabled">
            <div class="data-wrap" data-type="dynamic" data-state="ture">
              <p class="text_large text__color_grey">500</p>
              <p class="text_small text__color_grey">$</p>
            </div>
          </div>
        </div>
      </div>

      <div
        class="data-info-container data-info-container_medium grid-col-input-4">
        <div
          class="input-container-wrap input-container-wrap_tiny left"
          data-input="input-field">
          <div class="input-wrapp input-wrapp_left hidden">
            <input
              class="input-field input-field_left text_large text__color_dark-grey"
              type="text"
              data-type="dynamic-number"
              data-unit="$" />
          </div>
          <div class="input-text-center input-border-left input-disabled">
            <div class="data-wrap" data-type="dynamic" data-state="ture">
              <p class="text_large text__color_red">-250</p>
              <p class="text_small text__color_red">$</p>
            </div>
          </div>
        </div>
        <div
          class="input-container-wrap input-container-wrap_tiny right"
          data-input="input-field">
          <div class="input-wrapp input-wrapp_right hidden">
            <input
              class="input-field input-field_right text_large text__color_dark-grey"
              type="text"
              data-type="dynamic-number"
              data-unit="$" />
          </div>
          <div class="input-text-center input-border-right input-disabled">
            <div class="data-wrap" data-type="dynamic" data-state="ture">
              <p class="text_large text__color_red">-5</p>
              <p class="text_small text__color_red">%</p>
            </div>
          </div>
        </div>
      </div>
      <!-- max open positions -->
      <div class="switcher-wrap switcher-wrap_gap-medium grid-row-switcher-2">
        <div class="form-switch">
          <input
            class="form-check-input custom-outline m-auto"
            type="checkbox"
            role="switch"
            checked />
        </div>
        <div class="data-wrap">
          <p class="text text_regular text__color_dark-grey">
            Max Open Positions
          </p>
        </div>
        <div class="handler-box grid-open-position">
          <div class="data-info-container data-info-container_medium">
            <div
              class="input-container-wrap input-container-wrap_tiny left"
              data-input="input-field">
              <div class="input-wrapp input-wrapp_left">
                <input
                  class="input-field input-field_left text_large text__color_dark-grey"
                  type="text"
                  data-type="number" />
              </div>
              <div class="input-text-center">
                <div class="data-wrap" data-type="dynamic" data-state="ture">
                  <p class="text_large text__color_dark-grey">10</p>
                  <p class="text_small text__color_dark-grey"></p>
                </div>
              </div>
            </div>
            <div
              class="input-container-wrap input-container-wrap_tiny right"
              data-input="input-field">
              <div class="input-wrapp input-wrapp_right hidden">
                <input
                  class="input-field input-field_right text_large text__color_dark-grey"
                  type="text"
                  data-type="number" />
              </div>
              <div class="input-text-center right-small input-disabled">
                <div class="data-wrap" data-type="dynamic" data-state="ture">
                  <p class="text_large text__color_grey">9</p>
                  <p class="text_small text__color_grey"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- max balance -->
      <div class="switcher-wrap switcher-wrap_gap-medium grid-row-switcher-3">
        <div class="form-switch">
          <input
            class="form-check-input custom-outline m-auto"
            type="checkbox"
            role="switch"
            checked />
        </div>
        <div class="data-wrap">
          <p class="text text_regular text__color_dark-grey">Max Balance %</p>
        </div>
        <div class="handler-box grid-balance-position">
          <div class="data-info-container data-info-container_medium">
            <div
              class="input-container-wrap input-container-wrap_tiny left"
              data-input="input-field">
              <div class="input-wrapp input-wrapp_left">
                <input
                  class="input-field input-field_left text_large text__color_dark-grey"
                  type="text"
                  data-type="number"
                  data-unit="%" />
              </div>
              <div class="input-text-center">
                <div class="data-wrap" data-type="dynamic" data-state="ture">
                  <p class="text_large text__color_dark-grey">75</p>
                  <p class="text_small text__color_dark-grey">%</p>
                </div>
              </div>
            </div>
            <div
              class="input-container-wrap input-container-wrap_tiny right"
              data-input="input-field">
              <div class="input-wrapp input-wrapp_right hidden">
                <input
                  class="input-field input-field_right text_large text__color_dark-grey"
                  type="text"
                  data-type="number"
                  data-unit="$" />
              </div>
              <div class="input-text-center right-small input-disabled">
                <div class="data-wrap" data-type="dynamic" data-state="ture">
                  <p class="text_large text__color_grey">5002</p>
                  <p class="text_small text__color_grey">$</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- direction buttons -->
      <p class="text_regular risk-text-2">Direction</p>

      <div
        class="button-new-wrap button-new-wrap_normal btn-shadow grid-col-button">
        <button
          class="button-group button-group_normal-1 text_large"
          data-type="btn">
          Long
        </button>
        <button
          class="button-group button-group_normal-2 text_large btn-active"
          data-type="btn">
          Short
        </button>
      </div>
      <!-- risk reword -->
      <div class="switcher-wrap switcher-wrap_gap-medium grid-row-switcher-4">
        <div class="form-switch">
          <input
            class="form-check-input custom-outline m-auto"
            type="checkbox"
            role="switch"
            checked />
        </div>
        <div class="data-wrap">
          <p class="text text_regular text__color_dark-grey">Risk Reword</p>
        </div>
        <div class="handler-box grid-risk-position">
          <div
            class="input-container-wrap input-container-wrap_tiny"
            data-input="input-field">
            <div class="input-wrapp">
              <input
                class="input-field text_large text__color_dark-grey"
                type="text"
                data-type="number"
                data-unit="R" />
            </div>
            <div class="input-text-center">
              <div class="data-wrap" data-type="dynamic" data-state="ture">
                <p class="text_large text__color_dark-grey">3</p>
                <p class="text_small text__color_dark-grey">R</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- BTC range -->
      <div class="switcher-wrap switcher-wrap_gap-medium grid-row-switcher-5">
        <div class="form-switch">
          <input
            class="form-check-input custom-outline m-auto"
            type="checkbox"
            role="switch"
            checked />
        </div>
        <div class="data-wrap">
          <p class="text text_regular text__color_dark-grey">BTC Range</p>
        </div>
        <div class="handler-box grid-btc-position">
          <div class="data-info-container data-info-container_medium-2">
            <div
              class="input-container-wrap input-container-wrap_tiny left"
              data-input="input-field">
              <div class="input-wrapp input-wrapp_left">
                <input
                  class="input-field input-field_left text_large text__color_dark-grey"
                  type="text"
                  data-type="number" />
              </div>
              <div class="input-text-center">
                <div class="data-wrap" data-type="dynamic" data-state="ture">
                  <p class="text_large text__color_dark-grey">59000</p>
                  <p class="text_small text__color_dark-grey"></p>
                </div>
              </div>
            </div>
            <div
              class="input-container-wrap input-container-wrap_tiny right"
              data-input="input-field">
              <div class="input-wrapp input-wrapp_right">
                <input
                  class="input-field input-field_right text_large text__color_dark-grey"
                  type="text"
                  data-type="number" />
              </div>
              <div class="input-text-center">
                <div class="data-wrap" data-type="dynamic" data-state="ture">
                  <p class="text_large text__color_dark-grey">68000</p>
                  <p class="text_small text__color_dark-grey"></p>
                </div>
              </div>
            </div>

            <div
              class="data-info-container data-info-container_tiny grid-time-box">
              <div
                class="input-container-wrap input-container-wrap_tiny-3 left"
                data-input="input-field">
                <div class="input-wrapp">
                  <input
                    class="input-field input-field_left text_large text__color_dark-grey"
                    type="text"
                    data-type="number"
                    data-unit="date" />
                </div>
                <div class="input-text-center">
                  <div class="data-wrap" data-type="dynamic" data-state="ture">
                    <p class="text_large text__color_dark-grey">4</p>
                    <p
                      class="text_small text__color_dark-grey"
                      data-mode="hour">
                      h
                    </p>
                  </div>
                </div>
              </div>
              <button
                class="button-input button-time-small right text_small"
                data-type="time"
                data-mode="hour">
                h
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- ETH range -->
      <div class="switcher-wrap switcher-wrap_gap-medium grid-row-switcher-6">
        <div class="form-switch">
          <input
            class="form-check-input custom-outline m-auto"
            type="checkbox"
            role="switch"
            checked />
        </div>
        <div class="data-wrap">
          <p class="text text_regular text__color_dark-grey">ETH Range</p>
        </div>
        <div class="handler-box grid-btc-position">
          <div class="data-info-container data-info-container_medium-2">
            <div
              class="input-container-wrap input-container-wrap_tiny left"
              data-input="input-field">
              <div class="input-wrapp input-wrapp_left">
                <input
                  class="input-field input-field_left text_large text__color_dark-grey"
                  type="text"
                  data-type="number" />
              </div>
              <div class="input-text-center">
                <div class="data-wrap" data-type="dynamic" data-state="ture">
                  <p class="text_large text__color_dark-grey">1775.2</p>
                  <p class="text_small text__color_dark-grey"></p>
                </div>
              </div>
            </div>
            <div
              class="input-container-wrap input-container-wrap_tiny right"
              data-input="input-field">
              <div class="input-wrapp input-wrapp_right">
                <input
                  class="input-field input-field_right text_large text__color_dark-grey"
                  type="text"
                  data-type="number" />
              </div>
              <div class="input-text-center">
                <div class="data-wrap" data-type="dynamic" data-state="ture">
                  <p class="text_large text__color_dark-grey">2100.1</p>
                  <p class="text_small text__color_dark-grey"></p>
                </div>
              </div>
            </div>

            <div
              class="data-info-container data-info-container_tiny grid-time-box">
              <div
                class="input-container-wrap input-container-wrap_tiny-3 left"
                data-input="input-field">
                <div class="input-wrapp">
                  <input
                    class="input-field input-field_left text_large text__color_dark-grey"
                    type="text"
                    data-type="number"
                    data-unit="date" />
                </div>
                <div class="input-text-center">
                  <div class="data-wrap" data-type="dynamic" data-state="ture">
                    <p class="text_large text__color_dark-grey">4</p>
                    <p
                      class="text_small text__color_dark-grey"
                      data-mode="hour">
                      h
                    </p>
                  </div>
                </div>
              </div>
              <button
                class="button-input button-time-small right text_small"
                data-type="time"
                data-mode="hour">
                h
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- pause new position with time -->
      <button
        class="button-new button-new_large text_regular btn-active grid-col-button-2"
        data-type="btn">
        Pause new positions
      </button>

      <div class="data-info-container data-info-container_big grid-col-time-3">
        <div
          class="input-container-wrap input-container-wrap_tiny-4 left"
          data-input="input-field">
          <div class="input-wrapp input-wrapp_left">
            <input
              class="input-field input-field_left text_large text__color_dark-grey"
              type="text"
              data-type="number"
              data-unit="date" />
          </div>
          <div class="input-text-center">
            <div class="data-wrap" data-type="dynamic" data-state="ture">
              <p class="text_large text__color_dark-grey">1</p>
              <p class="text_small text__color_dark-grey" data-mode="hour">d</p>
            </div>
          </div>
        </div>
        <button
          class="button-input button-time button-time_input-big right text_small"
          data-type="time"
          data-mode="hour">
          d
        </button>
        <div
          class="input-container-wrap input-container-wrap_small-4 right"
          data-input="input-field">
          <div class="input-wrapp input-wrapp_right">
            <input
              class="input-field input-field_right text_large text__color_dark-grey"
              type="text"
              data-type="time" />
          </div>
          <div class="input-text-center input-text-center--with-button">
            <div class="data-wrap" data-type="dynamic" data-state="ture">
              <p class="text_large text__color_dark-grey">23:53</p>
              <p class="text_small text__color_dark-grey"></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-window-button">
      <button class="button-modal button-one text_small text__color_dark-grey">
        Save
      </button>
    </div>
  </div>
</div>
